@import '~@/styles/_vars.scss';
@import '~@/styles/_mixins.scss';
@import '~@/styles/animate.scss';

$color-bids-rise: #09C989;
$color-bids-fall: #FF1E1D;
.lang-en {
  .lottery-container {
    .banner {
      background-image: url(/static/active/lottery/banner-lottery_en.jpg);
    }
  }
}
.lang-ko {
  .lottery-container {
    .banner {
      background-image: url(/static/active/lottery/banner-lottery_ko.jpg);
    }
  }
}
.lottery-container {
    background: #000000;
    color: white;
    padding-bottom: 72px;

    .banner {
        height: 534px;
        width: 100%;
        background-image: url(/static/active/lottery/banner-lottery.jpg);
        background-repeat: no-repeat;
        background-position: center center;
    }
    .body {
        width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .box-title{
            background-color: #131315;
            width: 100%;
            box-sizing: border-box;
            height:36px;
            text-align: center;
            line-height: 36px;
            .text{
                font-size: 24px;
                background-image:linear-gradient(-14deg,rgba(188,145,66,1) 0%, rgba(238,215,119,1) 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        .box-head {
            margin-bottom: 23px;
            font-size: 18px;
            display: flex;
            
            .head_text {
                flex: 1;
                line-height: 1;
                display: flex;
                justify-content: space-between;
                > span {
                  background-image:linear-gradient(-14deg,rgba(188,145,66,1) 0%, rgba(238,215,119,1) 100%);
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;
                }
            }
    
            .head__stick {
                margin-right: 10px;
                width: 2px;
                height: 16px;
                flex: none;
                background:linear-gradient(-6deg,rgba(202,170,108,1),rgba(250,222,169,1));
            }
        }
        
        .border-1{
            border:1px solid rgba(255,255,255,.2);
        }
        .top {
                height: 285px;
                display: flex;
                margin-bottom: 49px;
            .count-down {
                flex: 1;
                min-width: 790px;
                box-sizing: border-box;
                padding: 9px;
            }
            .count-down__detail {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                .proper-time {
                  color: #999999;
                }

                .count-down-series {
                    display: flex;
                    .time-num-group {
                        display: flex;
                    }
                    .time-num {
                        display: inline-block;
                        font-size: 130px;
                        height: 134px;
                        line-height: 134px;
                        text-align: center;
                        width: 104px;
                        background: linear-gradient(0deg,rgba(24,24,24,0.23),rgba(180,180,180,0.13)); 
                        position: relative;

                        .num__mask {
                            background:rgba(0,0,0,1);
                            opacity: .49;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            height:74px;
                        }
                    }
                    .time-colon {
                        height: 100%;
                        width: 16px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        .dot {
                            display: inline-block;
                            width:8px;
                            height:8px;
                            background:rgba(255,255,255,1);
                            border-radius:50%;
                        }
                    }
                }
            }
            .event-review {
                box-sizing: border-box;
                padding: 9px;
                width: 286px;
                margin-left: 20px;
                flex: none;
                display: flex;
                color: #999999;
                
                flex-direction: column;
                .box-title{
                    flex: none;
                    color: #A6A6A6;
                }

                .review__list {
                    flex: 1;
                    overflow: scroll;
                    padding: 0 34px;
                    box-sizing: border-box;
                    
                    .list__head {
                        display: flex;
                        justify-content: space-between;
                        padding-bottom: 10px;
                        border-bottom: 1px solid rgba(72,72,72,1);
                    }
                    .list__row {
                       display: flex;
                       justify-content: space-between;
                       margin-top: 10px;
                       
                       .flat {
                         color: #9D9E9E;
                       }

                       .decrease {
                           color: $color-bids-fall;
                       }
                       .increase {
                          color: $color-bids-rise; 
                       }
                    }
                }
            }
        }

        .middle {
            display: flex;
            margin-bottom: 50px;
            .quiz {
                padding: 24px 40px;
                box-sizing: border-box;
                width: 828px;
                height: 688px;

                .market-info {
                    height:71px;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    padding:0 30px;
                    color: #999999;

                    .current-market {
                        margin-right: 20px;
                        padding-right: 30px;
                        border-right: 1px solid #999999;
                    }
                    
                    .more {
                      flex: 1;
                      text-align: right;
                      color: #999999;
                      // position: absolute;
                    }
                }

                .market-tips {
                    height:28px;
                    margin-top: 10px;
                    line-height: 28px;
                    text-align: center;
                    color: $primary;
                }
                .bids-row {
                    margin-top: 40px;
                    .bids-row__info {
                        font-size: 12px;
                        color: #999999;
                        display: flex;
                        justify-content: space-between;
                        
                        .info__label {
                            font-size: 18px;

                            &.rise {
                                color: $color-bids-rise;
                            }
                            &.fall {
                                color: $color-bids-fall;
                            }
                        }
                    }
                    .bids-row__progress {
                        margin-top: 5px;
                        width: 100%;
                        border-radius: 12px;
                        height: 24px;
                        line-height: 24px;
                        overflow: hidden;
                        display: flex;
                        .color-section {
                            height: 100%;
                            border-radius: 12px;
                            background-color: #757575;
                            width: 0px;
                            transition: width 2s;

                            &.rise {
                                background-color: $color-bids-rise;
                            }
                            &.fall {
                                background-color: $color-bids-fall;
                            }
                        }
                    }
                }
            }

            .current-ticket-num {
                height: 52px;
                width: 80%;
                margin: 60px auto;
                line-height: 52px;
                color: #999999;
                display: flex;

                .num-now{
                    width: 246px;
                    text-align: center;
                    border-right: 1px solid #313131;
                }
                .input-ix-num {
                  // border: 1px solid #757575;
                  // width: 348px;

                    .input {
                        outline: none;
                        appearance: none;
                        // color: #3A3A3A;
                        color: #ffffff;
                        background-color: #1B1B1B;
                        height: 30px;
                        width: 240px;
                        margin-right: 10px;
                    }
                }

            }

            .bids-buttons {
                height: 52px;
                line-height: 52px;
                color: #999;
                font-size: 18px;
                display: flex;
                justify-content: space-between;
                text-align: center;
                .btn {
                  width: 244px;
                  font-size: 18px;
                  // line-height:100%;
                  font-weight:bold;
                  &:hover {
                    opacity: 0.8;
                  }
                }
                .rise {
                  background: #0E1C17;
                  color:rgba(9,201,137,1);
                }
                .fall {
                  background: #321D1C;
                  color:$color-bids-fall;
                }
                .flat {
                  background: #1E1D1D;
                  color:#959595;
                }
                .disabled {
                  background:#252525;
                  color: #999999;
                  font-weight: normal;
                  cursor: default;
                }
            }

            .middle-right {
                flex: 1;
                margin-left: 30px;
                max-width: 342px;
                .rules {
                    height: 688px;
                    overflow: scroll;
                    padding: 30px 30px 0;
                    box-sizing: border-box;
                    font-size: 12px;
                    color: #D0D0D0;
                    .normal {
                      display: inline-block;
                      width: 280px;
                      color: #D0D0D0;
                    }
    
                    .rule {
                        border-bottom: 1px solid #484848;
                        padding-top: 10px;
                        padding-bottom: 15px;
                        box-sizing: border-box;
                    }
                }
            }
        }

        .bids-history {

            .history__table {
                padding: 9px;
            }
            .box-table-th {
                color: #4A4A4A;
                height: 40px;
                line-height: 40px;
                display: flex;
                justify-content: space-between;
            }
            .box-table-tr {
                font-size: 12px;
                height: 40px;
                line-height: 40px;
                display: flex;
                color: #999999;

                > span {
                    flex: 1;
                }
                    
                &.rise {
                  .dir, .result {
                    color: $color-bids-fall;
                  }
                }

                &.flat {
                  .dir, .result {
                    color: #959595;
                  }
                }

                &.fall {
                  .dir, .result {
                    color: $color-bids-rise;
                  }
                }

            }
            .box-table-th, .box-table-tr {
                padding-left: 40px;
                padding-right: 40px;

                .th_td {
                  width: 25%;
                  text-align: center;
                }
            }
        }
    }
}