@import '~@/styles/_vars.scss';
@import '~@/styles/_mixins.scss';
@import '~@/styles/animate.scss';

$color-bids-rise: #09C989;
$color-bids-fall: #FF1E1D;
.lang-en {
  .lottery-container {
    .banner-text {
      width: 889px;
      height: 155px;
      background-image: url(/static/active/lottery/banner-text-en.png);
    }
    .banner-text__2 {
        width: 694px;
        height: 34px;
        background-image: url(/static/active/lottery/banner-text__2-en.png);
    }

  }
}
.lang-ko {
  .lottery-container {
    .banner-text {
      background-image: url(/static/active/lottery/banner-text-ko.png);
    }
    .banner-text__2 {
        background-image: url(/static/active/lottery/banner-text__2-ko.png);
      }
  }
}
.lottery-container {
    background: #181717;
    color: white;
    padding-bottom: 72px;

    .align-right {
        text-align: right !important;
    }

    .banner-text {
        width: 952px;
        height: 122px;
        background-image: url(/static/active/lottery/banner-text.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100%;
    }
    .banner-text__2 {
        width: 322px;
        height: 65px;
        background-image: url(/static/active/lottery/banner-text__2.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100%;
    }

    .banner {
        height: 348px;
        width: 100%;
        background-image: url(/static/active/lottery/lottery-banner-background.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .light {
        width: 100%;
        height: 75px;
        background-image: url(/static/active/lottery/light.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100%;
        margin-top: -36px;
    }

    .flex {
        display: flex;
        justify-content: space-between;
    }
    .flex-column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .f18 {
        font-size:18px;
    }
    .f12 {
        font-size: 12px;
    }
    .f14 {
        font-size: 14px;
    }
    .c-999 {
        color: #999999;
    }
    .c-primary {
        color: #D2964A;
    }
    .c-b18 {
        color: #B18147;
    }
    .body {
        width: 1200px;
        margin: 0 auto;

        .lottery_row {
            padding-top: 39px;
        }

        .lottery-box {
            width: 590px
        }

        .box__title{
            background-color: #181717;
            color: #D2964A;
            width: 100%;
            font-size:22px;
            height:22px;
            line-height: 22px;
            display: flex;
            box-sizing: border-box;
            justify-content: space-between;
            .text{
                font-size:14px;
                color: #ffffff;
            }
        }
        .box__content {
            background-color: #1B1B1B;
            border-radius: 4px;

            .quiz-current-info {
                height: 88px;
                box-sizing: border-box;
                width: 565px;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid #303030;

                .coin {
                    display: flex;
                    align-items: center;
                    
                    .icon-coin {
                        width: 42px;
                        height: 42px;
                    }
                }
                .count-down {
                  .time-range {
                    text-align: right;
                  }
                }
            }

            .quiz-operation{
                padding: 0 40px;

                .operate-table-head  {
                    display: flex;
                    justify-content: space-between;
                    padding-top: 22px;
                    padding-bottom: 28px;
                    padding-left: 166px;
                }
                
                .quiz-choice-strip {
                    display: flex;
                    justify-content: space-between;
                    height: 36px;
                    line-height: 36px;
                    margin-bottom: 22px;
                    position: relative;
                    overflow: hidden;

                    .proportion {
                        width: 0;
                        height: 100%;
                        position: absolute;
                        opacity: 0.06;
                        left: 82px;
                        &.up {
                            background-color: #20BFA7;
                        }
                        &.fall {
                            background-color: #DA5A63;
                        }
                        &.flat {
                            background-color: #1AA0CA;
                        }
                        transition: width 2s ease-in 1s;
                    }

                    .strip__item {
                        flex: 1;
                        text-align: right;
                    }

                    .quiz__note {
                        border-right-width: 6px;
                        border-right-style: solid;
                        padding-right: 15px;
                        width: 40px;
                        text-align: left;
                        flex: none;

                        &.up {
                            border-right-color: #199B7F;
                        }
                        &.fall {
                            border-right-color: #F24E4D;
                        }
                        &.flat {
                            border-right-color: #1AA0CA;
                        }
                    }
                    .up {
                        color: #199B7F;
                    }
                    .fall {
                        color: #F24E4D
                    }
                    .flat {
                        color: #1AA0CA;
                    }
                }
            }

            .quiz-input-num{
                height:48px;
                box-sizing: border-box;
                padding-right: 22px;
                border:1px solid rgba(166,166,166,1);
                border-radius:4px;
                display: flex;
                align-items: center;

                .w-64 {
                    height: 17px;
                    padding-left: 22px;
                    padding-right: 20px;
                    border-right: 1px solid #A6A6A6;
                }
                .input {
                    padding-left: 20px;
                    height: 100%;
                    width: 75%;
                    color: #ffffff;
                    background: transparent;
                    border: 0 !important;
                    outline: none !important;
                    appearance: none;
                }
                ::-webkit-input-placeholder { /* WebKit browsers */
                    color:    #999;
                }
                :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                    color:    #999;
                }
                ::-moz-placeholder { /* Mozilla Firefox 19+ */
                    color:    #999;
                }
                :-ms-input-placeholder { /* Internet Explorer 10+ */
                    color:    #999;
                }
            }
            .quiz-btns {
                margin-top: 35px;
                display: flex;
                justify-content: space-between;

                .up {
                    background-color: #199B7F;
                }
                .fall {
                    background-color: #F24E4D
                }
                .flat {
                    background-color: #1AA0CA;
                }

                .quiz__btn{
                    width:167px;
                    height:44px;
                    line-height: 44px;
                    text-align: center;
                    border-radius:4px;

                    &:hover{
                        opacity: .88;
                    }

                    &.disabled {
                        background:#252525;
                        color: #999999;
                        font-weight: normal;
                        cursor: default;
                      }
                }

                .quiz__btn-stop{
                    width: 100%;
                    height: 44px;
                    line-height: 44px;
                    text-align: center;
                    font-size:14px;
                    background-color: #ACACAC;
                    color: #ffffff;
                }
            }
        }

        .box-last-champion {
            .box__content {
                min-height: 158px;
            }
        }

        .last-champion__info{
            height: 79px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 565px;
            margin: 0 auto;
            padding: 0 20px;
            box-sizing: border-box;

            &.border-bottom-1 {
                border-bottom: 1px solid #303030;
            }
            .flex-column {
              width: 33%;
              text-align: center;

              &:first-child {
                text-align: left;
              }
            }
        }

        .box-rank {
          margin-top: 36px;
        }
        .invite-cambat {
            background: url('/static/active/lottery/combat.png');
            width:593px;
            height:76px;
            background-size: 100% 100%;
            position: relative;

            .invite-btn{
                padding: 0 30px;
                height:33px;
                line-height: 33px;
                text-align: center;
                border:1px solid rgba(255,255,255,.26);
                border-radius:17px;
                position: absolute;
                right: 38px;
                top:22px;

                &:hover {
                    background:linear-gradient(90deg,rgba(205,123,25,1) 0%,rgba(255,176,63,1) 100%);
                }
            }
        }

        .lottery__table {
            padding-right: 45px;
            padding-top: 18px;
            // height: 166px;
            box-sizing: border-box;

            .table__row {
                display: flex;

                &.rise {
                    .dir, .result {
                      color: $color-bids-rise;
                    }
                  }
  
                  &.flat {
                    .dir, .result {
                      color: #959595;
                    }
                  }
  
                  &.fall {
                    .dir, .result {
                      color: $color-bids-fall;
                    }
                  }
            }

            .table__th, .table__td{
                flex: 1;
            }
            .circle {
                width:25px;
                height:25px;
                text-align: center;
                line-height: 25px;
                background-color: #303030;
                border-radius:50%;
    
                &.active {
                    background:linear-gradient(92deg,rgba(205,125,41,1),rgba(250,172,73,1));
                }
            }
        }

        .history {
            .lottery__table{
                padding-left: 45px;
                padding-top: 25px;
                overflow: auto;
            }
        }
        .rule-content {
            padding: 27px 32px;
            .rule {
                margin-bottom: 10px;
            }
        }
    }
    .relative {
        position: relative;
    }
    .open-modal:hover {
      .opening-price-modal {
        display: flex;
        opacity: 1;
      }
    }
    .opening-price-modal {
        display: none;
        opacity: 0;
        z-index: 1;
        position: absolute;
        top: 16px;
        left: -20px;
        width:1009px;
        background:rgba(46,46,46,1);
        border-radius:8px;
        padding: 0 20px;
        box-sizing: border-box;
        padding-top: 40px;
        padding-bottom: 30px;

        .modal__left{
            margin-right: 16px;
            padding-top: 58px;
            word-break: keep-all;
            white-space: nowrap;
        }
        .modal__right {
            color: #D0D0D0;
            .trading-office-box{
                text-align: center;
                color: #FFFFFF;
                border-radius:4px;
                background-color: #181717;

                p {
                    width:174px;
                    height:41px;
                    line-height: 41px;

                    &.office-name {
                        background-color:#363636;                    
                    }
                }
                .bb1 {
                    border-bottom: 1px solid #363636;
                }
            }
        }
    }
}

.lottery-prompt {
    .el-message-box__message p{
        text-align: left !important;
    }
}



// 针对icon的bling-bling 效果
@keyframes blingbling {
    0%{
        margin-left:0;
    }
    100% {
        margin-left:42px;
    }
}

@keyframes bodyRotate {
    0%{
        transform: rotate(0)
    }
    50%{
        transform: rotate(180deg);  
    }
    100% {
        transform: rotate(360deg);
    }
}

.bling-icon-body {
    position: relative;
    width: 42px;
    height: 42px;
    border-radius: 21px;
    overflow: hidden;
    animation:bodyRotate 2.4s ease-in-out infinite;

    &:before{
        content:'';
        position:absolute;
        width:8px;
        height:42px;
        display: inline-block;
        overflow: hidden;
        background: url('/static/active/lottery/lottery-blings.png');
        background-size: 100% 100%;
        // background: linear-gradient(to right,rgba(255,255,255,0) 0,rgba(255,255,255,.2) 50%,rgba(255,255,255,0) 100%);  
        transform: skewX(-25deg);
        animation:blingbling 2.4s ease-in-out infinite;
    }
}

.icon-crown {
    display: inline-block;
    width: 13px;
    height: 14px;
    background: url('/static/active/lottery/crown-yellow.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    animation: iconcrown 1.8s ease-in-out infinite;
}

@keyframes iconcrown {
    0%{
        background: url('/static/active/lottery/crown-yellow.png');
    }
    50% {
        background: url('/static/active/lottery/crown-red.png');
    }
    100%{
        background: url('/static/active/lottery/crown-yellow.png');
    }
}