<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="keywords" content="<%= htmlWebpackPlugin.options.theme.keywords %>">
    <meta name="description" content="<%= htmlWebpackPlugin.options.theme.description %>">
    <link rel="shortcut icon" type="image/x-icon" href="<%= htmlWebpackPlugin.options.static %>/static/icon.png">
    <title><%= htmlWebpackPlugin.options.theme.exchangeName %></title>
</head>

<body>
  <div class="page-loading page-mask show">
    <div class="ix-loading k-square-holder">
      <div class="k-square3 k-square3a"></div>
      <div class="k-square3 k-square3b"></div>
      <div class="k-square3 k-square3c"></div>
      <div class="k-square3 k-square3d"></div>
    </div>
  </div>
  <div id="app"></div>
  <div id="debug" style="display: none"></div>
  <% if (htmlWebpackPlugin.options.NODE_ENV === 'production') { %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= htmlWebpackPlugin.options.theme.googleAnalyticsId %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '<%= htmlWebpackPlugin.options.theme.googleAnalyticsId %>');
    </script>
  <% } %>  
    <script type="text/javascript">window.grayline=true</script>
  <!-- 国内使用 滑块验证，如果主要客户是国外用户，需要替换以下地址-->
    <script type="text/javascript" async charset="utf-8" src="//g.alicdn.com/sd/ncpc/nc.js?t=2015052012"></script>
  <!-- built files will be auto injected -->
</body>

</html>