<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="keywords" content="<%= htmlWebpackPlugin.options.theme.keywords %>">
    <meta name="description" content="<%= htmlWebpackPlugin.options.theme.description %>">
    <link rel="shortcut icon" type="image/x-icon" href="<%= htmlWebpackPlugin.options.static %>static/ico/<%= htmlWebpackPlugin.options.theme.themeName %>/ico-64.ico">
    <link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.options.static %>static/ico/<%= htmlWebpackPlugin.options.theme.themeName %>/icon-256.png">
    <title><%= htmlWebpackPlugin.options.theme.exchangeName %></title>
</head>

<body>
  <div class="page-preload show">
    <div class="_a">
      <div class="_b _b1"></div>
      <div class="_b _b2"></div>
      <div class="_b _b3"></div>
    </div>
  </div>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>