<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="keywords" content="<%= htmlWebpackPlugin.options.theme.keywords %>">
  <meta name="description" content="<%= htmlWebpackPlugin.options.theme.description %>">
  <meta property="og:type" content="website" />
  <meta property="og:title" content="<%= htmlWebpackPlugin.options.config.title %>">
  <meta property="og:description" content="<%= htmlWebpackPlugin.options.config.title %>">
  <meta property="og:image" content="<%= htmlWebpackPlugin.options.static %>/static/icon.png">
  <meta property="og:url" content="https://ixx.com">
    <link rel="shortcut icon" type="image/x-icon" href="<%= htmlWebpackPlugin.options.static %>/static/icon.png">
    <title><%= htmlWebpackPlugin.options.config.title %></title>
    <style>.page-mask {position: fixed;width: 100%;height: 100%;left: 0;right: 0;top: 0;bottom: 0;background-color: transparent;z-index: 99999;cursor: progress;}.page-loading {background: #0C1222;opacity: 0;visibility: hidden;transition: opacity 300ms, visibility 0s 300ms;}.page-loading.show {opacity: 1;visibility: visible;transition: none;}.k-square-holder {width: 50px;position: absolute;text-align:center;bottom: 50%;left: 50%;}.k-square3 {display: inline-block;width: 15px;height: 15px;margin-right:5px;background: #01CED1;opacity: 0.2;animation: k-loadingQ 2s infinite;opacity: 0.5;}.k-square3a {transform: translate(0,-25px);}.k-square3b {transform: translate(25px,0);}.k-square3c {transform: translate(-25px,0);}.k-square3d {transform: translate(0,25px);}@keyframes k-loadingQ {33% {  transform: translate(0,0);  opacity: .7;}66% {  transform: translate(0,0);  opacity: .7;}}</style>
</head>
<body>
  <div class="page-loading page-mask show">
    <div class="ix-loading k-square-holder">
      <div class="k-square3 k-square3a"></div>
      <div class="k-square3 k-square3b"></div>
      <div class="k-square3 k-square3c"></div>
      <div class="k-square3 k-square3d"></div>
    </div>
  </div>
  <div id="app"></div> 
  <script src="./static/js/vendor.dll.js"></script>
  <% if (htmlWebpackPlugin.options.NODE_ENV === 'production') { %>
    <script  src="https://www.googletagmanager.com/gtag/js?id=<%= htmlWebpackPlugin.options.theme.googleAnalyticsId %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '<%= htmlWebpackPlugin.options.theme.googleAnalyticsId %>');
    </script>
  <% } %>
  <script>
    window.zESettings = {
      webWidget: {
        position: { horizontal: 'right', vertical: 'bottom' }
      }
    };
    </script>
  <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=ec643172-9ba0-4ced-8dac-9beeb83ab4a0" ></script>
    <script type="text/javascript">window.grayline=false</script>
  <!-- 国内使用 滑块验证，如果主要客户是国外用户，需要替换以下地址-->
  <!-- <script type="text/javascript" async charset="utf-8" src="//g.alicdn.com/sd/ncpc/nc.js?t=2015052012"></script> -->
  <!-- built files will be auto injected -->
</body>

</html>
