/*
body {
  background: black;
  opacity: 1;
  font-family: -apple-system, BlinkMacSystemFont,
    "Open Sans",
    "Segoe UI", "Helvetica Neue",
    sans-serif;
}
*/

.chart-page {
  background: #283B4C;
  /* background: var(--background-alt); */
}
.chart-page .chart-container {
  /* hahahahaha at last I found you - Thien */
  background: transparent;
  border-color: hsla(218, 26%, 86%, 0.25);
  border: none;
  /* border-color: var(--primary-2); */
}

.chart-controls-bar {
  background: transparent;
}
.layout__area--top {
    background: #192D3F;
}
.chart-controls-bar-buttons a {
  color: hsla(218, 26%, 86%, 0.5);
  /* color: var(--primary-3); */
}
.chart-controls-bar-buttons a:before {
  border-color: hsla(218, 26%, 86%, 0.06);
  /* border-color: var(--primary-1); */
}
.chart-controls-bar-buttons a.active,
.feature-no-touch .chart-controls-bar-buttons a.active:hover {
  color: #C9A96C;
  /* color: var(--accent); */
}
.feature-no-touch .chart-controls-bar-buttons a:not(.disabled):hover {
  background: transparent;
  color: #C9A96C;
  /* color: var(--accent); */
}

.tv-side-toolbar {
  background: transparent;
  border-right-color: hsla(218, 26%, 86%, 0.25);
  /* border-right-color: var(--primary-2); */
}

.tv-side-toolbar .button svg {
  fill: hsla(218, 26%, 86%, 0.5);
  /* fill: var(--primary-3); */
}
.tv-side-toolbar .button.selected svg {
  fill: #C9A96C;
  /* fill: var(--accent); */
}

.drawing-favorites-toolbar .tools-group .button.active,
.feature-no-touch .drawing-favorites-toolbar .tools-group .button:active,
.feature-no-touch .properties-toolbar .tools-group .button:active,
.feature-no-touch .tv-side-toolbar .tools-group .button:active .side,
.feature-no-touch .tv-side-toolbar .tools-group .button:not(.subgroup):active,
.feature-touch .drawing-favorites-toolbar .tools-group .button:active,
.feature-touch .properties-toolbar .tools-group .button:active,
.feature-touch .tv-side-toolbar .tools-group .button:active .side,
.feature-touch .tv-side-toolbar .tools-group .button:not(.subgroup):active,
.properties-toolbar .tools-group .button.active,
.tv-side-toolbar .tools-group .button.active .side,
.tv-side-toolbar .tools-group .button.selected .main,
.tv-side-toolbar .tools-group .button:not(.subgroup).active,
.tv-side-toolbar .tools-group .button:not(.subgroup).selected {
  background-color: transparent;
}

.feature-no-touch .tv-side-toolbar .tools-group .button:hover .main.text-as-icon,
.tv-side-toolbar .tools-group .button.selected .main.text-as-icon {
  color: #C9A96C;
  /* color: var(--accent); */
}

.tv-side-toolbar .tools-group:not(:first-child):not(.no-delimiter):before {
  background-color: hsla(218, 26%, 86%, 0.06);
  /* background-color: var(--primary-1); */
}

.tv-side-toolbar .tools-group .button .side {
  border-left: none;
}

.drawing-favorites-toolbar .tools-group .button,
.feature-no-touch .tv-side-toolbar .tools-group .button:active,
.feature-no-touch .tv-side-toolbar .tools-group .button:hover,
.feature-touch .tv-side-toolbar .tools-group .button:active,
.properties-toolbar .tools-group .button,
.tv-side-toolbar .tools-group .button.active,
.tv-side-toolbar .tools-group .button.selected {
  background-color: transparent;
  border-color: transparent;
}

.drawing-favorites-toolbar .tools-group .button,
.properties-toolbar .tools-group .button,
.tv-side-toolbar .tools-group .button {
  cursor: pointer;
}

.tv-close-panel {
  border: none;
  background-color: hsla(218, 26%, 86%, 0.25);
  /* background-color: var(--primary-2); */
}

.charts-popup-list {
  border: none;
  background-color: #192D3F;
  /* background-color: var(--background); */
  box-shadow: #283B4C 0 6px 24px;
  /* box-shadow: var(--background-alt) 0 6px 24px; */
}
.drawings-popup-list.iconed .item.active svg,
.drawings-popup-list .item.active svg {
  fill: #C9A96C;
  /* fill: var(--accent); */
}
.drawings-popup-list.iconed .item svg,
.drawings-popup-list .item svg {
  fill: hsla(218, 26%, 86%, 0.5);
  /* fill: var(--primary-3); */
}
/* intervals list do not have span fack */
.charts-popup-list.intervals-list .item,
.charts-popup-list .item span {
  color: hsla(218, 26%, 86%, 1);
  /* color: var(--primary); */
}
.charts-popup-list.intervals-list .item.active,
.charts-popup-list .item.active span {
  color: #C9A96C;
  /* color: var(--accent); */
}
.charts-popup-list .item.active {
  background-color: transparent;
}
.feature-no-touch .charts-popup-list .item:hover {
  background-color: hsla(218, 26%, 86%, 0.06);
  /* background-color: var(--primary-1); */
}
.charts-popup-list .separator {
  border-color: hsla(218, 26%, 86%, 0.06);
  /* border-color: var(--primary-1); */
}


.favored-list .to-quick svg {
  fill: hsla(218, 26%, 86%, 0.5) !important;
  /* fill: var(--primary-3) !important; */
}
.feature-no-touch .favored-list .to-quick:hover svg {
  fill: #C9A96C !important;
  /* fill: var(--accent) !important; */
}

.bottom-widgetbar-content.backtesting .button,
.header-chart-panel .button,
.hotlist-controls .button,
.symbol-edit-widget .button {
  border-color: transparent;
  background-color: transparent;
  color: hsla(218, 26%, 86%, 1);
  /* color: var(--primary); */
}
.bottom-widgetbar-content.backtesting .button,
.header-chart-panel .button,
.hotlist-controls .button,
.symbol-edit-widget .button {
  cursor: pointer;
}
.feature-no-touch .header-chart-panel .button:hover,
.feature-no-touch .symbol-edit-widget .button:hover {
  background-color: transparent;
  color: inherit;
}

.common-tooltip-wrapper .common-tooltip-body {
  background-color: hsla(218, 26%, 19%, 1);
  /* background-color: var(--background); */
  border-color: transparent;
  box-shadow: #283B4C 0 6px 24px;
  /* box-shadow: var(--background-alt) 0 6px 24px; */
}
.common-tooltip-wrapper.otr:before,
.common-tooltip-wrapper.otr:after {
  border-right-color: hsla(218, 26%, 19%, 1);
  /* border-right-color: var(--background); */
}
.common-tooltip-wrapper.below:before,
.common-tooltip-wrapper.below:after {
  border-bottom-color: hsla(218, 26%, 19%, 1);
  /* border-bottom-color: var(--background); */
}

.feature-no-touch ._tv-dialog .button:not(.disabled):not(.selected):hover:before,
.feature-no-touch ._tv-dialog .custom-select .switcher:not(.disabled):not(.selected):hover:before,
.feature-no-touch ._tv-dialog .favored-list-container span:not(.disabled):not(.selected):hover:before,
.feature-no-touch ._tv-dialog .submenu:not(.disabled):not(.selected):hover:before,
.feature-no-touch .bottom-widgetbar-content.backtesting .button:not(.disabled):not(.selected):hover:before,
.feature-no-touch .bottom-widgetbar-content.backtesting .custom-select .switcher:not(.disabled):not(.selected):hover:before,
.feature-no-touch .bottom-widgetbar-content.backtesting .favored-list-container span:not(.disabled):not(.selected):hover:before,
.feature-no-touch .bottom-widgetbar-content.backtesting .submenu:not(.disabled):not(.selected):hover:before,
.feature-no-touch .header-chart-panel .button:not(.disabled):not(.selected):hover:before,
.feature-no-touch .header-chart-panel .custom-select .switcher:not(.disabled):not(.selected):hover:before,
.feature-no-touch .header-chart-panel .favored-list-container span:not(.disabled):not(.selected):hover:before,
.feature-no-touch .header-chart-panel .submenu:not(.disabled):not(.selected):hover:before,
.feature-no-touch .properties-toolbar .button:not(.disabled):not(.selected):hover:before,
.feature-no-touch .properties-toolbar .custom-select .switcher:not(.disabled):not(.selected):hover:before,
.feature-no-touch .properties-toolbar .favored-list-container span:not(.disabled):not(.selected):hover:before,
.feature-no-touch .properties-toolbar .submenu:not(.disabled):not(.selected):hover:before {
  content: none;
}

.favored-list-container span {
  background-color: transparent;
  border-color: transparent;
  color: hsla(218, 26%, 86%, 1);
  /* color: var(--primary); */
}
.feature-no-touch .favored-list-container span:hover {
  background-color: transparent !important;
  border-color: transparent;
  color: hsla(218, 26%, 86%, 1);
  /* color: var(--primary); */
}
.favored-list-container.active span.submenu,
.favored-list-container span.submenu.active {
  color: #C9A96C;
  /* color: var(--accent); */
  background: hsla(206, 94%, 57%, 0.4) !important;
  /* background: var(--accent-2) !important; */
  border-color: transparent;
}

.chart-style-popup .item svg,
.chart-style-widget svg {
  fill: hsla(218, 26%, 86%, 1);
  /* fill: var(--primary); */
}

.chart-top-toolbar .space-single:not(:first-child),
.header-chart-panel .space-single:not(:first-child) {
  border-left: solid 1px hsla(0, 0%, 100%, 0.05);
  /* border-left: solid 1px var(--primary-1); */
}
.header-chart-panel-content {
  box-shadow: hsla(218, 26%, 86%, 0.25) 0 -1px 0 inset;
  /* box-shadow: var(--primary-2) 0 -1px 0 inset; */
}

.bottom-widgetbar-content.backtesting .button.active,
.ch-controls .button.active,
.feature-no-touch .bottom-widgetbar-content.backtesting .button:active,
.feature-no-touch .ch-controls .button:active,
.feature-no-touch .header-chart-panel .button.active:hover,
.feature-no-touch .header-chart-panel .button:active,
.feature-no-touch .hotlist-controls .button:active,
.feature-no-touch .save-load-buttons .active:hover,
.feature-no-touch .save-load-buttons a:not(.link):active,
.feature-no-touch .symbol-edit-widget .button:active,
.feature-touch .bottom-widgetbar-content.backtesting .button:active,
.feature-touch .ch-controls .button:active,
.feature-touch .header-chart-panel .button:active,
.feature-touch .hotlist-controls .button:active,
.feature-touch .save-load-buttons a:not(.link):active,
.feature-touch .symbol-edit-widget .button:active,
.header-chart-panel .button.active,
.hotlist-controls .button.active,
.save-load-buttons .active,
.symbol-edit-widget .button.active {
  background: hsla(206, 94%, 57%, 0.4) !important;
  /* background: var(--accent-2) !important; */
  color: #C9A96C;
  /* color: var(--accent); */
}

.button.indicators.active svg {
  fill: #C9A96C;
  /* fill: var(--accent); */
}

.pane-legend-icon svg {
  fill: hsla(218, 26%, 86%, 0.5);
  /* fill: var(--primary-3); */
}
.feature-no-touch .pane-legend-icon svg:hover {
  fill: #C9A96C;
  /* fill: var(--accent); */
}
.pane-legend-line.disabled .icon-hide svg {
  fill: #C9A96C;
  /* fill: var(--accent); */
}

.on-widget .getimage .icon {
  fill: white;
}
.onchart-custom-logo, .onchart-tv-logo {
  opacity: 0.5;
  transform: scale(0.5);
  transform-origin: bottom left;
  bottom: 20px;
  left: 0;
}
