.c_box{max-width:1200px;height:auto;position:relative;margin:0 auto;}
$c: #ccc;

//contract
$--contract-table-bg: #0c1222;
$--contract-table-bd: #272837;
$--contract-table-active: #1C2435;

//share-option
$--share-border-color:rgba(105, 111, 128, 0.5);
$--share-bg-color:rgb(30, 38, 58);
$--share-text-info:#8F97AE;

$--color-primary: #01ced1;
$--color-success: #13ce66;
$--color-warning: #FFBA00;
$--color-danger: #ff4949;