@import "./vars";
@import "./mixins";
// @import "./tooltip";

html {
  background-color: #ffffff;
}
html.light-bg {
  background-color: #F0F0F0;
}
html.white-bg {
  background-color: white;
  body {
    background-color: white;
  }
}
html.hybrid-dark-bg {
  &, body {
    background-color: #070C1D;
  }
}
html {
  height: 100%;
}
body {
  font-size: 14px;
  line-height: 1.42857;
  width: 100%;
  min-width: $page-width;
  color: $text;
  background-color: #ffffff;
  min-height: 600px;
}
::-webkit-scrollbar {
  display:none
}

body.responsive {
  min-width: auto;
}
/* 路由相关 start */
// 登录注册，KYC页面背景深色
body.router-account,
body.router-kyc {
  background-color: $nav-2;
}
// body.router-profile,
// body.router-fund,
// body.router-relay {
//   min-width: 1200px;
//   &.ios {
//     // min-width: auto;
//   }
// }
body.mobile {
  min-width: 1200px;
  .home-ball {
    display: none;
  }
}
body.router-home {
  min-width: auto;
}
body.router-account {
  min-width: auto;
}
body.router-h5index {
  min-width: auto;
}

body.router-trading {
  min-width: auto;
  background-color: #283B4C;
  overflow-x: auto;
  #app {
    min-width: 960px;
  }
  &.mobile {
    min-width: 1200px;
    &.ios {
      min-width: auto;
    }
  }
}

/* 路由相关 end */
table tr td,
table tr th {
  &.left {
    text-align: left;
  }
  &.right {
    text-align: right;
  }
  &.center {
    text-align: center;
  }
}
th {
  font-weight: bold;
}
.iconfont {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
[transparent] {
  opacity: 0;
}
#app {
  min-height: 100%;
  box-sizing: border-box;
  position: relative;
  outline: none;
}
.btn {
  cursor: pointer;
}
/*
.progressing {
  cursor: progress;
  a {
    cursor: progress;
  }
  .btn {
    cursor: progress;
  }
}
*/
input {
  margin: 0;
}
embed {display: none;}
.fluid-container {
  min-width: $page-width;
}
.main-container {
  box-sizing: border-box;
  @include clearfix();
  position: relative;
}
footer {
  background-color: $nav-2;
  width: 100%;
  height: 300px;
  box-sizing: border-box;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.ibt {
  display: inline-block;
  vertical-align: top;
}
// .logo {
//   @include bg-retina($logo-pic, 'png', $logo-bg-width, $logo-bg-height);
// }
.panel {
  background-color: white;
}
.panel-title {
  font-weight: bold;
}
.bold {
  font-weight: bold;
}
a,
a:hover,
a:focus,
a:active,
a:visited {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  text-decoration: none;
}
a {
  &, &:visited, &:focus {
    color: $text-link;
  }
  &:hover {
    color: $text-link-hover;
  }
  &:active {
    color: $text-link-active;
  }
}
a.raw {
  @include a() {
    color: inherit;
  }
}
input::placeholder {
  color: #CCC;
}
td.left {
  text-align: left;
}
td.right {
  text-align: right;
}
.home-ball {
  cursor: pointer;
  position: fixed;
  bottom: 40px;
  width: 140px;
  right: 60px;
  border-radius: 30px;
  background: #C9A96C;
  padding: 10px 10px;
  text-align: center;
  color: #fff;
  box-sizing: border-box;
  font-size: 18px;
  z-index: 99999;
}

// element reset

.el-form-item.is-required>.el-form-item__label:before {
    display: none;
}

$primary-color: #C9A96C;
.el-select-dropdown__item.selected {
    color: $primary-color !important;
}

.el-button.el-button--primary {
    color: #fff;
    background-color: $primary-color !important;
    border-color: $primary-color !important;

    &:hover, &:focus {
        color: #fff !important;
        background-color: $primary-color !important;
        border-color: $primary-color !important;
        opacity: .8;
    }

}
.el-button:focus, .el-button:hover{
    color: $primary-color !important;
    border-color: $primary-color !important;
    background-color: #ffffff;
    opacity: .8;
}

.el-select .el-input.is-focus .el-input__inner {
    border-color: $primary-color !important;
}
.el-select .el-input__inner:focus {
    border-color: $primary-color !important;
}