@import "./vars";
@import "./mixins";
 @import "./tooltip";
 
// div.zopim {
//   top: auto !important;
// }
html {
  background-color: #ffffff;
}
html.light-bg {
  background-color: #F0F0F0;
}
html.white-bg {
  background-color: white;
  body {
    background-color: white;
  }
}
html.hybrid-dark-bg {
  &, body {
    background-color: #070C1D;
  }
}
html {
  height: 100%;
}
.container{
  width: 1200px;
  margin: 0 auto;
}
body {
  font-size: 14px;
  line-height: 1.42857;
  width: 100%;
  //min-width: $page-width;
  color: $text;
  background-color: #ffffff;
  min-height: 600px;
}
::-webkit-scrollbar {
  display:none
}

body.responsive {
  min-width: auto;
}
/* 路由相关 start */
// 登录注册，KYC页面背景深色
body.router-account,
body.router-kyc {
  background-color: $nav-2;
}
// body.router-profile,
// body.router-fund,
// body.router-relay {
//   min-width: 1200px;
//   &.ios {
//     // min-width: auto;
//   }
// }
body.mobile {
  //min-width: 1200px;
  // .home-ball {
  //   display: none;
  // }
}
body.router-home {
  min-width: auto;
}
body.router-account {
  min-width: auto;
}
body.router-h5index {
  min-width: auto;
}

body.router-trading {
  min-width: auto;
  background-color: $protrade-bg;
  overflow-x: auto;
  #app {
    min-width: 960px;
  }
  &.mobile {
    //min-width: 1200px;
    &.ios {
      min-width: auto;
    }
  }
}
body.router-spa_contract {
  min-width: auto;
  background-color: $protrade-bg;
  overflow-x: auto;
}

/* 路由相关 end */
table tr td,
table tr th {
  &.left {
    text-align: left;
  }
  &.right {
    text-align: right;
  }
  &.center {
    text-align: center;
  }
}
th {
  font-weight: bold;
}
.iconfont {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
[transparent] {
  opacity: 0;
}
#app {
  min-height: 100%;
  box-sizing: border-box;
  position: relative;
  outline: none;
}
.btn {
  cursor: pointer;
  user-select: none;
}
.pointer {
  cursor:pointer;
}
.default,
.cursor-default {
  cursor: default;
}
/*
.progressing {
  cursor: progress;
  a {
    cursor: progress;
  }
  .btn {
    cursor: progress;
  }
}
*/
input {
  margin: 0;
}
embed {display: none;}
.fluid-container {
  min-width: $page-width;
}
.main-container {
  box-sizing: border-box;
  @include clearfix();
  position: relative;
}
footer {
  background-color: $nav-2;
  width: 100%;
  box-sizing: border-box;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.ibt {
  display: inline-block;
  vertical-align: top;
}
// .logo {
//   @include bg-retina($logo-pic, 'png', $logo-bg-width, $logo-bg-height);
// }
.panel {
  background-color: white;
}
.panel-title {
  font-weight: bold;
}
.bold {
  font-weight: bold;
}
a,
a:hover,
a:focus,
a:active,
a:visited {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  text-decoration: none;
}
a {
  &, &:visited, &:focus {
    color: $text-link;
  }
  &:hover {
    color: $text-link-hover;
  }
  &:active {
    color: $text-link-active;
  }
}
a.raw {
  @include a() {
    color: inherit;
  }
}
input::placeholder {
  color: #CCC;
}
td.left {
  text-align: left;
}
td.right {
  text-align: right;
}
// .home-ball {
//   cursor: pointer;
//   position: fixed;
//   bottom: 40px;
//   width: 140px;
//   right: 60px;
//   border-radius: 30px;
//   background: #01CED1;
//   padding: 10px 10px;
//   text-align: center;
//   color: #fff;
//   box-sizing: border-box;
//   font-size: 18px;
//   z-index: 99999;
// }

// element reset

// .el-form-item.is-required>.el-form-item__label:before {
//     display: none;
// }

$primary-color: #01CED1;
.el-select-dropdown__item.selected {
    color: $primary-color !important;
}

.el-button.el-button--primary {
    color: #fff;
    background-color: $primary-color;
    border-color: $primary-color;

    &.is-plain {
      background-color: #ecf5ff;
      color: $primary-color;
    }
    &:hover, &:focus {
        color: #fff;
        background-color: $primary-color;
        border-color: $primary-color;
        opacity: .8;
    } 
}


.el-button.el-button--buy {
  color: #fff;
  background-color: $otc-buy-bg;
  border-color: $otc-buy-bg;

  &:hover, &:focus {
      color: #fff;
      background-color: $otc-buy-bg-light;
      border-color: $otc-buy-bg-light;
      opacity: .8;
  }
}

.el-button.el-button--sell {
  color: #fff;
  background-color: $otc-sell-bg !important;
  border-color: $otc-sell-bg !important;

  &:hover, &:focus {
      color: #fff !important;
      background-color: $otc-sell-bg-light !important;
      border-color: $otc-sell-bg-light !important;
      opacity: .8;
  }
}

.el-button--primary.is-disabled, .el-button--primary.is-disabled:active, .el-button--primary.is-disabled:focus, .el-button--primary.is-disabled:hover {
  color: #FFF!important;
  background-color: #a0cfff!important;
  border-color: #a0cfff!important;
}


.el-button.el-button--text {
  color: #000;
  &:hover, &:focus {
    color: #000;
  }
}

.el-button:focus, .el-button:hover{
    color: $primary-color;
    border-color: $primary-color;
    background-color: #ffffff;
    opacity: .8;
}

.el-button.el-button--success {
  color: #fff;
  background-color: $otc-buy-bg;
  border-color: $otc-buy-bg;

  &:hover, &:focus {
      color: #fff;
      background-color: $otc-buy-bg-light;
      border-color: $otc-buy-bg-light;
      opacity: .8;
  }
}
.el-button.el-button--danger {
  color: #fff;
  background-color: $otc-sell-bg;
  border-color: $otc-sell-bg;

  &:hover, &:focus {
      color: #fff;
      background-color: $otc-sell-bg-light;
      border-color: $otc-sell-bg-light;
      opacity: .8;
  } 
}


.el-select .el-input.is-focus .el-input__inner {
    border-color: $primary-color !important;
}
.el-select .el-input__inner:focus {
    border-color: $primary-color !important;
}
.f13 {
  font-size: 13px;
}
.f17{
  font-size: 17px;
}
.f20{
  font-size: 20px;
}
.f28 {
  font-size: 28px;
}
.f24{
  font-size: 24px;
}
.bold{
  font-weight: bold;
}
.c-00 {
  color: #000000;
}
.c-primary{
  color: $primary;
}
.c-8a {
  color: #8A8A8A;
}
.c-b0 {
  color: #B0B0B0
}
.c-09 {
  color: #09C989;
}
.c-60{
  color: #606060;
}
.c-21{
  color: #212121;
}
.c-f24{
  color: #F24E4D;
}
.c-999{
  color: #999999;
}
.text-success {
  color: $--color-success;
}
.text-danger {
  color: $--color-danger;
}
.text-primary {
  color: $primary-color;
}
.inline-block{
  display: inline-block;
}
.el-pagination.is-background .el-pager li:not(.disabled).active {
  background: $primary!important;
}
.el-switch.is-checked .el-switch__core {
  border-color: $primary!important;
  background-color: $primary!important;
}

.el-dropdown-menu {
  .el-dropdown-menu__item {
    .my-fund-operate {
      color:#6F6F70;
    }
  }
}

.el-button--text {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
}
.el-form-item.is-required:not(.is-no-asterisk) .el-form-item__label-wrap > .el-form-item__label:before, .el-form-item.is-required:not(.is-no-asterisk) > .el-form-item__label:before {
  content: '*';
  color: #F56C6C;
  margin-right: 4px;
}

.clearfix {
  @include clearfix();
}

.fl {
  float: left;
}
.fr {
  float: right;
}
.txr {
  text-align: right;
}
.txl {
  text-align: left;
}
.txc {
  text-align: center;
}
 
.flex {
  display: flex;
  flex-direction: column;
}
.flex-lr {
  display: flex;
  flex-direction: row;
}
.flex-start {
  justify-content: flex-start;
}
.flex-center {
  justify-content: center;
  align-items: center;
}

.directive-login{
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  /* transform: translateX(10px); */
  justify-content: center;
  align-items: center;
  background-color: hsla(0,0%,100%,.8);
  z-index: 5;
  &.dark {
    background-color: rgba(50,50,50,.8);
  }
}


.vertical-login {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;  
  background-color: #ffffff;
  z-index: 5; 
  img {
    width: 150px;
    margin-bottom: 70px;
  }
  .message {
    font-size: 14px;
  }
  .vertical-login-box {
    padding: 24px;
    margin-top: 90px;
    text-align: center; 
  }
  .login-button {
    padding: 10px 0;
    background-color: #252525;
    border-radius: 2px;
    color: $primary;
    cursor: pointer;
    &.register {
      background-color: $primary;
      color: #ffffff;
    }
  }
  &.dark {
    background-color: #14151A;
  }
}

.divider-line-info{
  height: 1px;
  width: 100%;
  margin: 0;
  background: $--color-info;
}
 

.between {
  display: flex;
  justify-content: space-between;
}


.nc-box{
  width: 280px; height: 34px; margin: 20px 0 0 38px; position: relative;
  .nc-container .nc_wrapper{width: 100%!important;}
}

strong{font-weight: bold;}


.ix-slider {
  padding: 7px 0px;
  // margin-right: 20px;
  position: relative;
  box-sizing: border-box;
  @include clearfix(); 
}
.custom-label {
  position: absolute;
  bottom: -15px;
  left: 0;
  transform: translate(-50%, -12px);
  margin-left: 3px;
  width:10px;
  height:10px;
  // background:$slider-label;
  background: $slider-label;
  border:2px solid $slider-border;
  &[skin~="dark"] {
    background-color: $slider-label2;
    border-color: $slider-border2; 
  }
  border-radius:50%;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 4;
}
.custom-tooltip {
  position: absolute;
  bottom: -39px;
  left: -7px;
  color: #788694;
}
.custom-label.active {
  // background-color: $primary; 
  border-color: $primary; 
  font-weight: bold;
  &.buy {
    border-color: $--color-success;
  }
  &.sell {
    border-color: $--color-danger;
  }
}
.custom-label.active::after {
  background-color: $primary;
  width: 2px;
} 