.mine-summary-container {
    margin: 0 60px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;

    .box-margin-left {
        margin-left: 1.5%
    }

    .mine-ix-box {
        padding-top: 38px;
        padding-left: 20px;
        border: 1px solid #cbe6fd;
        margin-bottom: 59px;
        min-width: 260px;
        box-sizing: border-box;

        &.grow {
          flex-grow: 1;
        }

        .box__row {
            display: flex;

            .fee__pie {
                // min-width: 180px;
                margin-right: 30px;
            }

            // .fee-tips-wrapper {
            //     position: relative;
                
            //     &:hover {
            //         .fee-tips {
            //             opacity: 1;
            //         }
            //     }
            // }
            // .fee-tips {
            //     display: flex;
            //     opacity: 0;
            //     position: absolute;
            //     top: -37px;
            //     left: -33px;
            //     box-sizing: border-box;
            //     min-width:190px;
            //     height:30px;
            //     background:rgba(203,230,253,1);
            //     border-radius:15px;
            //     color: #000000;
            //     align-items: center;
            //     justify-content: space-around;
            //     font-size: 14px;

            //     .tips-arrow {
            //         position: absolute;
            //         width: 10px;
            //         height: 10px;
            //         background:rgba(203,230,253,1);
            //         bottom: -4px;
            //         left: 35px;
            //         transform: rotateZ(45deg);
            //     }
            // }
        }
    }

    // 下面是之前的样式,懒得改了
    .mine-ix-box {
        .unit {
          color: $primary;
          margin-left: 5px;
        }
        .text {
          color: #cbe6fd;
        }
        .jd_box {
          width: 100%;
          background: #6d869c;
          height: 4px;
          border-radius: 4px;
          position: relative;
      
          .cursor {
            position: absolute;
            color: #6d869c;
            font-size: 14px;
            line-height: 34px;
            bottom: -34px;
      
            &.cursor_left {
              left: 0;
            }
            &:nth-child(3) {
              right: 0;
            }
          }
          .jd_cen {
            height: 4px;
            float: left;
            position: relative;
            border-radius: 4px;
            background: #c9a96e;
            width: 0px;
            transition: width 2s;
      
            .line {
              display: block;
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
              border-top: 6px solid #c9a96e;
              top: -20px;
              right: -3px;
              position: absolute;
              .cursor_arrow {
                display: block;
                width: 300px;
                height: 33px;
                position: absolute;
                top: -33px;
                text-align: left;
                left: 50%;
                margin-left: -26px;
                color: #c9a96e;
              }
            }
          }
        }
        .jd_btxt {
          font-size: 14px;
          overflow: hidden;
          margin-top: 45px;
          display: flex;
          color: #c9a96e;

          .time_range {
            min-width: 20%;
            font-size: 18px;
          }
        }

        .cm-tit,.cm-bst{
            color: #CBE6FD;
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 4px;
            max-width: 260px;
            word-break: keep-all;
            word-wrap: break-word;
        }
        .cm-bt{
            font-size: 30px;
            margin-bottom: 17px;
            color: #C9A96E;
            span{
            font-size: 20px;
            }
        }
        .cm-bst{
            color: #CBE6FD;
        }
        .cm-bn{
            color: #C9A96E;
            font-size: 16px;
            line-height: 18px;
            margin-top: 16px;
        }
    }
}
