.invite-signup-container {
    background-image: url('~@/assets/invite-signup/bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: rem(680);

    &.invite-con {
        background-image: url('~@/assets/invite-signup/bg2.png');
        padding-top: rem(600);
    }
}
::-webkit-input-placeholder {
    color: #C1C1C1;
}
* {
    outline: none;
    &:focus {
        outline: none;
    }
}
a {
    text-decoration: none;
    &:active,
    &:visited, {
        color: #1e2865;
    }
}
input,
select,
textarea {
    resize: none;
    border: none;
    outline: 0;
    box-shadow: none;
    border-radius: 0;
}

.select {
    appearance: none;
    -webkit-appearance: none;
    background: inherit;
    color: #fff;
    border-bottom: 1px solid #ffffff;
    outline: none;
    font-size: rem(32);
    box-sizing: border-box;
    height: rem(92);
    width: 100%;
    &:hover {
        transition: border-bottom .7s;
    }
    option {
        color: #000;
    }
}
.mt-10 {
    margin-top: rem(10);
}
.mt-20 {
    margin-top: rem(20);
}
.mb-40 {
    margin-bottom: rem(40);
}
.pl-10 {
    padding-left: rem(10);
    box-sizing: border-box;
}
.c-ff7 {
    color: #FF7822 !important;
}
.banner {
    width: 100%;
    padding-top: rem(50);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;

    .banner-top{
        margin-bottom: rem(26);
        font-size:rem(30);
        color:rgba(36,14,77,1);
    
        width:rem(202);
        height:rem(50);
        border:rem(4) solid rgba(32,0,68,1);
        background:linear-gradient(-90deg,rgba(140,0,64,1),rgba(32,0,68,1),rgba(140,0,64,1),rgba(32,0,68,1),rgba(140,0,64,1),rgba(30,0,68,1));
        -webkit-background-clip: text;
        border-radius:rem(25);
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .banner-text {
        text-align: center;
        font-size: rem(68);
        font-family:FZZCHJW--GB1-0;
        background:linear-gradient(-90deg,rgba(140,0,64,1),rgba(32,0,68,1),rgba(140,0,64,1),rgba(32,0,68,1),rgba(140,0,64,1),rgba(30,0,68,1));
        -webkit-background-clip: text;
        color: transparent;

        margin-bottom: rem(418);
    }
}

.form {
    .field {
        box-sizing: border-box;
        padding: 0 rem(60);
        padding-top: rem(30);

        .select {
            height:rem(80);
            background:rgba(255,255,255,1);
            box-shadow:0px rem(3) rem(24) 0px rgba(88,98,239,0.3);
            border-radius:rem(12);
            overflow: hidden;
            padding-left: rem(20);
            color: #666666;
            font-size: rem(28);

        }
    }
    .input-box,
    .select {
        height: rem(80);
        position: relative;
    }

    .input-box__with-btn {
        display: flex;
    }

    .sms-btn {
        font-size: rem(28);
        flex: none;
        margin-left: rem(20);
        min-width: rem(190);
        height:rem(80);
        line-height: rem(80);
        text-align: center;
        background:linear-gradient(0deg,rgba(128,112,241,1) 0%,rgba(149,141,243,1) 100%);
        box-shadow:rem(0) rem(3) rem(24) 0 rgba(88,98,239,0.3);
        border-radius:rem(12);
        border: 0; // background-color: #3075ee;
        color: #ffffff;
        &.disabled {
            @include a() {
                color: #AAAAAA;
            }
        }
    }

    
    .input-box__password {
        z-index: 1;
    }
    
    .pw-helps {
        z-index: 2;
        border-radius: rem(25);
        position: absolute;
        right: -229px;
        top: 0;
        width: 216px;
        min-height: 160px;
        color: #000;
        background-color: white;
        box-sizing: border-box;
        padding: 16px;
        font-size: 12px;
        // opacity: 0;

        .pw-state {
            width: 20px;
            height: 20px;
            margin-right: 4px;
            background-color: white;
            border: 1px solid #979797;
            box-sizing: border-box;
            display: inline-block;
            vertical-align: top;
            border-radius: 2px;
            transition: background-color 300ms;
            &.pass {
                @include bg-retina('../../assets/check',
                'png',
                12px,
                9px);
                width: 20px;
                height: 20px;
                border: 1px solid $primary;
                background-color: $primary;
            }
        }
        .title {
            margin-bottom: 10px;
            font-weight: bold;
        }
        .desc {
            width: 160px;
            display: inline-block;
            vertical-align: top;
            font-size: 12px;
            line-height: 20px;
            white-space: normal;
        }
        .pw-check {
            font-size: 0;
            white-space: nowrap;
            margin-bottom: 4px;
        }
    }

    .pw-helps {
        display: none;
        &.show {
            display: block;
        }
    }
    .pw-helps,
    .pw-helps.show {
        clear: both;
        padding: rem(30) rem(72) 0 rem(30);
        margin-top: rem(20);
        white-space: nowrap;
        width: 100%;
        height: auto;
        position: static;
        opacity: 1;
        transition: none;
        transform: none;
        visibility: visible;
        float: left
    }

    .agreement {
        font-size:rem(24);
        font-family:PingFangSC-Regular;
        font-weight:400;
        color:rgba(30,40,101,1);

        input {
            width:rem(24);
            height:rem(24);
            background:rgba(255,255,255,1);
            box-shadow:0px 4px 10px 0px rgba(88,98,239,0.3);
            border-radius:rem(12);
        }
    }

    .sign-up__btn {
        height:rem(80);
        background:linear-gradient(90deg,rgba(255,18,49,1) 0%,rgba(255,149,29,1) 100%);
        box-shadow: 0px rem(3) rem(24) 0px rgba(88,98,239,0.3);
        border-radius: rem(40);
        font-size: rem(32);
        font-weight:400;
        color:rgba(255,255,255,1);
        text-align: center;
        line-height: rem(80);
    }
    .switch-btn {
        font-size: rem(24);
        color: #FF7928;
        width: 100%;
        text-align: center;
    }
}

.activity-note {
    padding: rem(40) rem(60) 0;
    font-size: rem(24);
    color: #443F51;
    text-align: left;
    line-height: rem(40);
}
.activity-detail {
    width: 100%;
    text-align: center;
    margin-top: rem(60);
    padding-bottom: rem(40);
    color: #351B78;
    font-size: rem(20);
}


// 邀请部分
.f71{
    font-size: rem(71) !important;
}
.f44 {
    font-size:rem(44) !important;
}
.f28 {
    font-size: rem(28);
}
.mt-36 {
}


.invite__field {
    padding: 0 rem(40);
}
.invite-code {
    margin-top: rem(56);
    margin-bottom: rem(87);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.invite__field__right {
    color: #8171F1;
    width: rem(190);
    text-align: center;
}

.input_invite {
    flex: 1;
    height:rem(80);
    background:rgba(255,255,255,1);
    box-shadow:0px rem(3) rem(24) 0px rgba(88,98,239,0.3);
    border-radius:rem(12);
    overflow: hidden;
    padding-left: rem(20);
    padding-right: rem(20);

    &:hover {
        // border-bottom: 1px solid $primary;
        // transition: border-bottom .7s;
    }
    &:focus {
        font-size: 14px;
    }
    &::-webkit-input-placeholder {
        color:#999999
    }
}

.form_invite {
    margin-top: rem(80);

    .activity-detail{
        margin-top: rem(200);
    }
}