


.ind_cen {
  position: relative;
  margin: 0 60px;
  clear: both;
}

.page-home {
  background: linear-gradient(0deg, #222931, #3A444F);
}

.ind_cena {
  position: relative;
  padding: 0 60px;
  background-position: top center;
  background-repeat: no-repeat;
  background-image: url(../assets/bg_qx.png);
  padding-top: 35px;
  margin-top: 80px;
  padding-bottom: 110px;
}

.ind_txt {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #262626;
  // margin-bottom: 60px;
  .ind_c {
    text-align: center;
    font-size: 14px;
    float: left;
    width: 33.33%;
    color: #6C869C;
    .text_link {
      color: #6C869C;
      &:hover {
        color: $primary;
      }
    }
    &:nth-child(2) {
      position: relative;
      &:before, &:after {
        content: "";
        position: absolute;
        width: 2px;
        height: 24px;
        background: #6C869C;
        display: block;
        left: 0;
        top: 50%;
        margin-top: -12px;
      }
      &:after {
        right: 0;
        left: auto;
      }
    }
  }
  .more {
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    right: 0;
    top: 0;
  }
}

.ind_tit {
  height: 35px;
  line-height: 35px;
  font-size: 28px;
  color: #CBE6FD;
  margin-bottom: 37px;
  text-indent: 25px;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    display: block;
    width: 4px;
    height: 28px;
    top: 50%;
    left: 0;
    background: #CBE6FD;
    margin-top: -14px;
  }
}

.ind_bot {
  &:after {
    content: "";
    clear: both;
    width: 100%;
    height: 1px;
    display: block;
  }
  .ind_bot_tit {
    color: #fff;
    font-size: 24px;
    text-align: center;
    height: 35px;
    margin-bottom: 55px;
    line-height: 35px;
  }
  .ind_bot_cen {
    width: 20%;
    text-align: center;
    float: left;
    margin: 0 2%;
    .photo {
      width: 100%;
      height: 201px;
      background-size: auto auto;
      background-repeat: no-repeat;
      background-position: center center;
    }
    .iphone {
      background-image: url(../assets/iphone.png);
    }
    .android {
      background-image: url(../assets/Android.png);
    }
    .windows {
      background-image: url(../assets/Windows.png);
    }
    .mac {
      background-image: url(../assets/Mac.png);
    }
    p {
      background: #151e25;
      color: #CBE6FD;
      font-size: 20px;
      width: 195px;
      height: 40px;
      line-height: 40px;
      border-radius: 40px;
      margin: 44px auto;
      cursor: pointer;
      position: relative;
      span {
        display: none;
        position: absolute;
      }
      &:hover {
        background: #caaa6c;
        color: #232A32;
        span {
          display: block;
          width: 210px;
          height: 50px;
          line-height: 50px;
          color: #C9A96E;
          border: 1px solid #C9A96E;
          position: absolute;
          left: 50%;
          margin-left: -105px;
          bottom: -70px;
          z-index: 9999;
          border-radius: 5px;
        }
      }
    }
  }
}
.lang-en {
  .corp-title {
    width: 200px !important;
  }
}


.ixx-home-items {
    width: 100%;
    background-color: #F7F7F7;
    padding-top: 22px;
    .mask {
      background: transparent;
      z-index: 10;
      opacity: 0;
      visibility: hidden;
      transition: opacity 500ms, visibility 0s 500ms;
      text-align: center;
    
      &.show {
        transition: none;
        visibility: visible;
        opacity: 1;
      }
    }
}

.compony-intro-section{
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;

    .intro-item {
        width: 203px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .short-txt {
            width: 100%;
            text-align: left;
            padding-left: 112px;
            margin-top: 27px;
            margin-bottom: 23px;
            font-size:16px;
            font-weight:500;
            color:rgba(33,33,33,1);
        }
        .long-text {
            color: #999999;
        }

        img {
            width: 114px;
            height: 101px;
            margin-left: 10px;
        }
    }
}

 // 合作媒体
 .corperator {
  display: flex;
  width: 100%;
  background: #3e3e3e;
  border-bottom: 1px solid #dfdfdf;
  .corperator-container {
    width: 1200px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .mb-60 {
        margin-bottom: 60px;
    }

    .corp-row {
      display: flex;
      &.row-60 {
        height: 60px;
      }
      .corp-title {
        width: 100px;
        font-size:18px;
        font-weight:bold;
        color:#929292;
        display: flex;
        height: 40px;
        align-items: center;
      }
      .corp-logo {
        min-width: 140px;
        padding: 0 26px;
        border-left: 1px solid #3D3D3D;
        text-align: center;
        height: 40px;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        .link {
          display: block;
          width: 100%;
        }
        .logo {
          height: 20px;
          &.gs {
            height: 60px;
          }
          &.cw {
            height: 35px;
          }
        }
      }
    }
  }
}