@import '~@/styles/_mixins.scss';
@import '~@/styles/_vars.scss';
.h5-footer-container {
    box-sizing: border-box;
    width: 100%;
    padding-left: rem(32);
    padding-right: rem(32);
    color: #ffffff;
    background-color: #1a1a1a;
    // border-bottom: 1px  solid rgba(204,204,204,1);

    .footer-row {
        border-bottom: 1px solid #CCCCCC;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .row-pick-up {
        display: flex;
        width: 100%;
        height: rem(78);
        align-items: center;
        justify-content: space-between;
        .arrow-down.up{
            transform: rotate(180deg);
        }
    }
    .row-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .qrcode {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .contact_desc {
            color: #999999;
            font-size: rem(12);
          }
        }

        a {
            display: inline-block;
            margin-bottom: rem(20);
            color: #999999;
            font-size: rem(20);
        }
    }
}
    .h5-contact-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        padding-top: rem(36);
        padding-bottom: rem(36);
        background-color: #1a1a1a;

        .contact-list {
        display: flex;
        align-items: center;

        }
        .contact-item{
        display: inline-block;
        width: 20px;
        height: 20px;
        color: #999999 !important;
        &:hover {
            color: #C1A538 !important;
        }
        }
        .contact-item-wrapper {
        position: relative;
        width: 20px;
        height: 20px;
        .contact-item{
            position: absolute;
            left: 0;
            top: 0;
        }
        .contact-img {
            display: none;
            position: absolute;
            top: -130px;
            right: -50px;
        }
        &:hover {
            .contact-img {
            display: inline-block;
            }
        }
        }

        .copyright {
            margin-top: rem(20);
            display: inline-block;
            color: #999999;
        }
    }
