.my-fund-container {
  .my-fund-content {
    .information {
      margin: 6px 0;
      color: #999;
      background-color: #F6FDFD;
      .iconfont {
        color:$primary !important;
      }
    }
  }
    .fund-total {
        margin-top: 45px;
        margin-bottom: 58px;
        display: flex;
        align-items: center;
        height: 30px;
        position: relative;
    }
    .total__label {
        margin-right: 50px;
    }
    .total__coin {
        color: $primary;
    }
    .coin-rmb {
        display: inline-block;
        color: $text-weak;
    }
    .my-fund-operate {
        color: $primary;
        cursor: pointer;
        margin-left: 21px;
    }
    .el-table /deep/ .el-table__row{
      td {
        padding: 5px 0;
        .cell {
          line-height: 33px;
          .airdrop {
            background-color:#BAE2F7;
            //cursor: help;
            position: relative;
            .question {
              position: absolute;
              top: -5px;
              right: -12px;
            }
          }
        }
      }
    }

}