@import '~@/styles/_mixins.scss';
@import '~@/styles/_vars.scss';

.h5-index-container{
    color: $primary;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    width: 100vw;

    background-color: #273039;

    .h5-page-header {
        background-color: #1a1a1a;
        font-size: rem(24);
        height: rem(120);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: rem(32);
        padding-right: rem(32);
        box-sizing: border-box;
        color: #ffffff;

        .title-pic {
            background-image: url('../../../assets/h5/h5-logo@2x.png');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            width: rem(164);
            height: rem(38);
        }

        .header__left{
            display: flex;
            line-height: 1.9;
            .title--text {
                margin-left: rem(40);
            }
        }
        .header__right {
            position: relative;
            .operate {
                display: inline-block;
                margin-left: rem(40);
    
                &.signup {
                    border: 1px solid #ffffff;
                    border-radius: rem(4);
                    padding: rem(8) rem(16);
                }
            }
            .hide-list{
                position: absolute;
                background-color: #000000;
                text-align: left;
                display: flex;
                flex-direction: column;
                width: rem(320);
                top: rem(96);

                .list__item, a {
                    display: inline-block;
                    height: rem(76);
                    color: white;
                    line-height: rem(76);
                      padding-left: rem(31);
                    &:hover {
                        background:rgba(33,37,42,1);
                    }
                }
            }
        }
    }

    .h5-page__banner {
        background:rgba(51,59,70,1);
        padding-top: rem(32);
        .banner-pic {
            box-sizing: border-box;
            background-image: url('https://ix.com/banner/banner2_cn.jpg');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            height: rem(340);
            width: rem(686);
            margin: 0 auto;
            border-radius: rem(12);
        }
        .banner-announce{
            height: rem(106);
            padding-left: rem(32);
            display: flex;
            align-items: center;
            .intro {
                margin-right: rem(24);
                color: #ffffff;
            }
            .news {
                width: rem(580);
                text-align: center;
                height: rem(28);
                border-radius: rem(14);
                background:rgba(39,48,57,1);
                font-size: rem(20);
            }
        }
    }

    .mine-info-section {
        padding-left: rem(32);
        padding-right: rem(32);
        margin-top: rem(4);
        margin-bottom: rem(4);
        padding-top: rem(100);
        background:rgba(51,59,70,1);

        .mine-summary-container {
            display: flex;
            flex-direction: column;
        }
    }
    .h5-trading-summary {
        width: 100%;
        margin-top: rem(4);
        padding-top: rem(40);
        padding-left: rem(32);
        padding-right: rem(32);
        box-sizing: border-box;
        .trading__title {
            height:rem(54);
            width: 100%;
            box-sizing: border-box;
            background:linear-gradient(0deg,rgba(193,194,194,1) 0%,rgba(255,255,255,1) 100%);
            border-radius:rem(27);
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: rem(40);
        }
        
    }

    .h5-contact-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        padding-top: rem(36);
        padding-bottom: rem(36);
        background-color: #1a1a1a;

        .contact-list {
        display: flex;
        align-items: center;
            
        }
        .contact-item{
        display: inline-block;
        width: 20px;
        height: 20px;
        color: #999999 !important;
        &:hover {
            color: #C1A538 !important;
        }
        }
        .contact-item-wrapper {
        position: relative;
        width: 20px;
        height: 20px;
        .contact-item{
            position: absolute;
            left: 0;
            top: 0;
        }
        .contact-img {
            display: none;
            position: absolute;
            top: -130px;
            right: -50px;
        }
        &:hover {
            .contact-img {
            display: inline-block;
            }
        }
        }

        .copyright {
            margin-top: rem(20);
            display: inline-block;
            color: #999999;
        }
    }

}