/* primary */
$primary: #01CED1; // base -主色
$primary-hover: #22CED0; // hover
$primary-active: #01CED1; // active
$primary-disabled: rgba(0,0,0,0.2); // disabled
$primary-opacity: #293443; // background 交易品种列表选中的背景色，主色25%透明度

/* nav */
$nav: #192D3F; // 主导航颜色 -nav bg
$normal-nav: #252838; // 资产个人中心导航颜色 -nav bg
$nav-2: #303E4B; // 副导航颜色 -nav-2

/* link */
$text-link: #00CED2; // base -文字链
$text-link-hover: #01CED1; // hover
$text-link-active: #00CED2; // active
$text-link-disabled: rgba(0,0,0,0.3); // disabled

/* trade */
$buy: #2367de; // base 买按钮 -涨色
$buy-hover: #2367de; // hover
$buy-active: #3070e0; // active
$buy-disabled: rgba(0,0,0,0.2); // disabled

$sell: #F24E4D; // base 卖按钮 -跌色
$sell-hover: #e46851; // hover
$sell-active: #e46851; // active
$sell-disabled: rgba(0,0,0,0.2); // disabled

$up-price: #7395ff; // base 上涨数字 -涨文字
$up-price-hover: #7395ff; // hover
$up-price-active: #7395ff; // active

$down-price: #f46c53; // base 下降数字 -跌文字
$down-price-hover: #f46c53; // hover
$down-price-active: #f46c53; // active

$search-bar-bg: #283B4C; // search bg 搜索框背景
$search-bar-border: #666666; // search border 搜索框border

$up-candle: #6ba583; // 蜡烛图涨色
$down-candle: #d75442; // 蜡烛图跌色

/* state */
$state-yellow: #de9e45; // base 状态颜色 -过渡色
$state-yellow-hover: #de9e45; // hover
$state-yellow-active: #de9e45; // active
$state-yellow-disabled: rgba(0,0,0,0.2); // disabled

$state-green: #4DA777; //base 状态成功颜色 -成功色
$state-green-hover: #4DA777; // hover
$state-green-active: #4DA777; // active
$state-green-disabled: rgba(0,0,0,0.2); // disabled

$state-text-green: #4DA777; // base 状态成功文字颜色 -成功字
$state-text-green-hover: #4DA777; // hover
$state-text-green-active: #4DA777; // active

$state-red: #CE5D42; // base 状态失败颜色 -警告色
$state-red-hover: #CE5D42; // hover
$state-red-active: #CE5D42; // active
$state-red-disabled: rgba(0,0,0,0.2); // disabled

$state-text-red: #CE5D42; // base 装填失败文字颜色 -警告字
$state-text-red-hover: #CE5D42; // hover
$state-text-red-active: #CE5D42; // active

$state-info: #4956C9;

/* text */
$text: #000000; // 基础文字
$text-strong: #333333; // 重要文字
$text-light: #666666; // 重要文字
$text-weak: #999999; // 重要文字
$text-normal: #cccccc; // 一般

/* hover */
$hover-bg: #01CED1; // 首页按钮hover
$dropdown-bg: rgba(0,0,0,0.1); // 下拉列表hover

/* home header background */
// $home-header-bg:linear-gradient(-153.7deg,#1B244F,#494988);
$home-header-bgdark: #1A1A1A;
$home-header-login: #303E4B;

/* const */
$splitter:#3A444F; // trade split line 交易页面分割线
$loading-mask: #283B4C; // 交易页面loading背景
$order-input-label: #666666; //订单填写 input 右侧币种的背景色

/* logo pic */
$logo-pic: 'assets/logo'; // logo图片
$logo-bg-width: 150px;
$logo-bg-height: 42px;

/* kyc pic */
$kyc-pic: '../assets/kyc-example';

$page-width: 1200px;

$protrade-bg: #283B4C;

/* font family */
$hex: monaco, monospace, arial;

/* profile 左侧 背景色 */
$profile-menu-bg: #B0EDEF;
