.address-container {
    .input-address {
        display: flex;
        width: 438px;
        height: 40px;
        line-height: 40px;
        border-radius: 4px;
        overflow: hidden;
        color: $text-strong;
        border: 1px solid rgba(204,204,204,1);

        

        &:focus{
            outline: none;
        }

    }
}