.address-container {
    .input-address {
        display: flex;
        width: 438px;
        height: 40px;
        line-height: 40px;
        border-radius: 4px;
        overflow: hidden;
        color: $text-strong;
        box-sizing: border-box;
        border: 1px solid rgba(204,204,204,1);
        &:focus{
            outline: none;
        }

    }

    .a-copy {
        color: $primary;
    }

    .my-fund-operate {
        display: inline-block;
        margin-left: 5px;
        &:hover{
            opacity: .5;
        }
    }
    .address-list {
        margin-top: 40px;
        min-height: 500px;
        overflow: scroll;
    }

    .address__table { 
        overflow-x: scroll;
    }
}