// global transition css
.fade-enter-active, .fade-leave-active {
  transition: all .5s ease-in-out;
}
.fade-enter, .fade-leave-to {
  transform: translateX(-300px);
  z-index:0;
}

@keyframes barberpole{
	from{
		background-position:0 0;
	}
	to{
		background-position:60px 30px;
	}
}