$--font-path: '~element-ui/lib/theme-chalk/fonts';

$--color-primary: #01ced1;
/// color|1|Functional Color|1
$--color-success: #67C23A !default;
/// color|1|Functional Color|1
$--color-warning: #E6A23C !default;
/// color|1|Functional Color|1
$--color-danger: #F56C6C !default;
/// color|1|Functional Color|1
$--color-info: #909399 !default;
// $--color-info: #1E1E1E;
//contract
$--contract-table-bg: #0c1222;
$--contract-table-bd: #272837;
$--contract-table-active: #1C2435;

//trading
$--trading-table-bg: #0c1222;
$--trading-table-bd: #272837;
$--trading-table-active: #1C2435;

//share-option
$--share-border-color:rgba(105, 111, 128, 0.5);
$--share-bg-color:rgb(30, 38, 58);
$--share-text-info:#8F97AE;

$--button-font-weight: 400;
$--background-active-bg:#b0edef;
// $--color-text-regular: #1f2d3d;

$--border-color-light: #dfe4ed;
$--border-color-lighter: #e6ebf5;
$--secondary-text:#909399;

$--table-border:1px solid #dfe6ec;
$--background-color-gray:#3E3E3E;
// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

// sidebar
$menuText:#bfcbd9;
$menuActiveText:#409EFF;
$subMenuActiveText:#f4f4f5; // https://github.com/ElemeFE/element/issues/12951

$menuBg:#304156;
$menuHover:#263445;

$subMenuBg:#1f2d3d;
$subMenuHover:#001528;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
$border-color-extralight:#F2F6FC;
$border-color-lighter:#EBEEF5;
