// 全局变量
$font-middle: 14px;
$font-small: 12px;
$buy-color: #09C989;
$sell-color: #F45151;
$high-color: #333;
.trade-container {
  width: 926px;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
  .link {
    font-size: 24px;
    font-weight: 400;
    color: $high-color;
    padding-bottom: 20px;
  }
  .message-con {
    font-size: $font-middle;
    background: #F5F7FA;
    font-weight: 400;
    border-radius: 6px;
    .user-conter {
      display: flex;
      .user-info{
        flex:40px 0 0 0;
        width: 40px;
      }
    }
    dl, .tip {
      display: flex;
      dd {
        flex: 1;
        padding: 20px 0 0 0;
        color: #666666;
        flex: 1;
        em {
          flex: 100px 0 0 0;
          width: 100px;
          display: inline-block;
          font-style: normal;
          margin-bottom: 12px;
        }
      }
      .user-info,.time {
        flex: 225px 0 0 0;
        width: 225px;
        padding-left: 20px;
        color: #999999;
        font-weight: 400;
      }
      .text {
        flex: 1;
        padding-bottom: 20px;
        color: #999999;
        font-weight: 400;
      }
    }
    .user {
      display: flex;
      .avt {
        flex: 40px 0 0 0;
        width: 40px;
        height: 40px;
        //background: #5D82E1;
      }
      .avt-text {
        flex: 1;
        margin-left: 10px;
        span {
          vertical-align: middle;
          display: inline-block;
          height: 14px;
          line-height: 14px;
          padding: 0 5px;
          background: #f5a623;
          //margin-right: 10px;
          font-size: 12px;
          text-align: center;
          color: #fff;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          border-radius: 4px;
        }
      }
    }
  }
  .table-nav {
    height: 30px;
    line-height: 30px;
    margin: 20px 0;
    position: relative;
    .order-btn {
      position: absolute;
      right: 0;
      top: 0;
      span {
        display: inline-block;
        padding: 0 10px;
        color: #B1B1B1;
        font-size: $font-middle;
        margin-right: 12px;
        -webkit-transition: all .3s ease-in;
        -moz-transition: all .3s ease-in;
        -ms-transition: all .3s ease-in;
        -o-transition: all .3s ease-in;
        transition: all .3s ease-in;
        border-radius: 60px;
        background: transparent;
        cursor: pointer;
        position: relative;
        margin-left: 10px;
      }
      .selected {
        background: $primary;
        color: #fff
      }
    }
    .nav-list {
      display: inline-block;
      padding: 0 10px;
      color: #B1B1B1;
      font-size: $font-middle;
      margin-right: 12px;
      -webkit-transition: all .3s ease-in;
      -moz-transition: all .3s ease-in;
      -ms-transition: all .3s ease-in;
      -o-transition: all .3s ease-in;
      transition: all .3s ease-in;
      border-radius: 60px;
      background: transparent;
      cursor: pointer;
      position: relative;
      span {
        position: absolute;
        padding: 0 6px;
        height:16px;
        right: -8px;
        top: -8px;
        background:rgba(244,81,81,1);
        border-radius:50%;
        display: block;
        text-align: center;
        line-height: 15px;
        font-size: 12px;
        color: #fff!important;
      }
    }
    .active {
      background: $primary;
      color: #fff
    }
  }
  .tips {
    height:40px;
    background:#F9F6F0;
    // line-height: 40px;
    overflow: hidden;
    font-size: $font-small;
    color: #999;
  }
  .table-con {
    margin-top: 20px;
    .table-list {
      padding:0 20px;
      margin-bottom: 20px;
      border:1px solid rgba(204,204,204,1);
      border-radius:6px;
      &:last-child {
        margin-bottom: 0!important;
      }
      .top {
        height: 40px;
        box-sizing: border-box;
        line-height: 40px;
        border-bottom: 1px solid #CCCCCC;
        display: flex;
        color: #999999;
        font-size: 12px;
        .order-number {
          flex: 280px 0 0 0;
          width: 320px;
        }
        .state {
          flex: 0 0 0 200px;
          width: 200px;
          text-align: right;
          span {
            color: #FDA22D;
          }
        }
        .name {
          flex: 1;
        }
      }
      .inner {
        display: flex;
        li {
          flex: 1;
          height: 150px;
          margin: 20px 0;
          padding-left: 20px;
          position: relative;
          dt {
            font-size: $font-middle;
            color: #333;
            font-weight: 500;
            margin-bottom: 20px;
          }
          dd {
            font-size: $font-middle;
            color: #999;
            margin-bottom: 8px;
            position: relative;
            a {
              color: #5D82E1;
              text-decoration: none;
            }
          }
          &:after {
            content: '';
            position: absolute;
            width: 1px;
            height: 100%;
            right: 0;
            top: 0px;
            background: #ececec;
          }
          &:last-child {
            &:after {
              background: transparent;
            }
          }
        }
        .first {
          display: flex;
          .type {
            flex: 60px 0 0 0;
            width: 60px;
            color: #F45151;
            em {
              font-size: 16px;
              font-style: normal;
              padding-bottom: 24px;
              display: inline-block;
              font-weight: 500;
            }
            .cur {
              font-weight: 500;
              p {
                font-size: 12px;
              }
              font-size: $font-middle
            }
          }
          dl {
            flex: 1;
          }
        }
        .last {
          display: flex;
          dl {
            flex: 1;
          }
          .time-ago {
            flex: 0 0 0 78px;
            width: 78px;
            text-align: right;
            font-size: $font-small;
            color: #999999;
            position: absolute;
            right: 0;
          }
          .btn {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 84px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            background: #FDA22D;
            border-radius: 6px;
            color: #fff;
            font-size: $font-middle;
          }
          .btn2 {
            right: 106px!important;
            background: #ececec;
            color: #666;
          }
        }
      }
    }
  }
  .page {
    margin-top: 20px;
    text-align: center;
  }
}



// model-container
.model-container {
  padding: 20px;
  /* margin-bottom: 80px; */
  height: calc(100% - 65px);
  position: relative;
  overflow: scroll;
  .title {
    font-size: 24px;
    font-weight: bold;
  }
  .step-tip {
    background: #F9FAFC;
    padding: 10px 0;
    margin-top: 20px;
  }
  .tips {
    padding: 10px;
    background: #EDF6FF;
    color: #5D82E1;
    font-size: 12px;
    font-weight:400;
    line-height: 24px;
    height: auto;
    border-radius:6px;
  }
  .table-con {
    margin-top: 20px;
    font-size: $font-middle;
    &:last-child {
      margin-bottom: 48px;
    }
    dt {
      padding-bottom: 10px;
      border-bottom: 1px solid #ececec;
      display: flex;
      margin-bottom: 20px;
      span, em {
        flex: 1;
        font-weight: 400;
        font-style: normal;
        text-align: left;
      }
      span {
        text-align: right;
      }
    }
    dd {
      color: #999;
      margin-bottom: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        flex: 0 0 0 140px;
        width: 140px;
        display: block;
      }
      em {
        font-style: normal;
        flex: 1
      }
    }
  }
  .step-btn {
    // padding: 10px 20px;
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 99999;
    &::before {
      content: '';
      width: 100%;
      position: absolute;
      //width: 100%;
      height: 4px;
      top: 0;
      left: 0;
      background: #F9FAFC;
    }
    a {
      //margin-bottom: 60px;
      width: 140px;
      height:42px;
      border:1px solid rgba(204,204,204,1);
      border-radius:4px;
      background: #fff;
      color: #333;
      display: block;
      margin-right: 10px;
      float: left;
      text-decoration: none;
      line-height: 42px;
      text-align: center;
    }
    .btn_t {
      width: 196px;
      border-color: transparent;
      background: #01CED1;
      color: #fff
    }
  }
}
.countdown {
  font-size: 12px!important;
}
.tips-con {
  color: #212121;
  p {
    font-size: 12px;
    margin-bottom: 12px;
  }
  li {
    line-height: 30px;
    list-style: disc;
    b {
      color: #FDA22D;
      font-weight: bold
    }
  }
}
.stepActive {
  position: absolute!important;
  padding: 20px 20px;
}
@media (max-width: 1378px) {
  .tips1 {
    padding: 6px 24px;
  }
  .trade-container {
    .message-con {
      font-size: 13px;
    }
  }
  .model-container {
    .tips {
      margin-top: 10px;
      padding: 6px!important;
    }
    .table-con {
      font-size: 13px;
      dt {
        em {
          font-size: 13px;
        }
      }
    }
    .step-btn {
      a {
        font-size: 14px;
      }
      .btn_t {
        width: 156px!important;
      }
    }
  }
}
