
.withdraw-container{
    .fund-history {
        width:75px;
        height:28px;
        line-height: 28px;
        text-align: center;
        border:1px solid rgba(193,164,66,1);
    border-radius:14px;
        color: $primary;
        font-size: 14px;
    }
        
}
