
.withdraw-container{
    .fund-history {
        width:75px;
        height:28px;
        line-height: 28px;
        text-align: center;
        border:1px solid rgba(193,164,66,1);
        border-radius:14px;
        color: $primary;
        font-size: 14px;
    }
    .withdraw-address {
        display: flex;
        width: 438px;
        height: 40px;
        line-height: 40px;
        border-radius: 4px;
        color: $text-strong;
        border: 1px solid $text-normal;

        .address-txt {
            flex: 1;
            padding-left: 14px;
        }
        .address-copy{
            cursor: default;
            flex: none;
            width: 75px;
            text-align: center;
            color:$primary;
            border-left: 1px solid $text-normal;
        }
    }
    .deposit-least {
        color:$primary;
    }
        
}
