
.withdraw-container{
  position: relative;
  .coin-count {
      width: 100%;
      border: 0;
      color:#000;

      &:focus{
          outline: none;
      }
  }
  .set-kyc {
      height: 40px;
      color: red;
      line-height: 40px;
  }
  .withdraw-address {
      display: flex;
      box-sizing: border-box;
      width: 438px;
      height: 40px;
      line-height: 40px;
      border-radius: 4px;
      overflow: hidden;
      color: $text-strong;
      position: relative;
      .coin-type{
          display: inline-block;
          position: absolute;
          padding-right: 10px;
          bottom: 0;
          right: 0;
          background: #ffffff;
      }
      .amount-input {
        border: none;
      }
      .el-select,.select-address {
          width: 100%;
      } 
      .select-address input {
          cursor: text !important;
      }
  }

  .border-1 {
      border: 1px solid rgba(204,204,204,1);

  }

  .withdraw-remain {
      color: $text-weak;
      > span {
          display: inline-block;
      }

      .up-limit {
          width:56px;
          height:15px;
          font-size:14px;
          font-family:MicrosoftYaHei;
          font-weight:400;
          color:rgba(193,164,66,1);
          line-height:18px;
      }
  }
  .withdraw-list {
    overflow: hidden;
    max-height: 72px;
  }


  .withdraw-least {
      color:#FBA917;
  }
  .withdraw-new-address{
      font-size: 14px;
      color: $text-strong;
      display: flex;
      align-items: center; 
      .add-icon {
          width:14px;
          height:14px;
          text-align: center;
          line-height: 12px;
          display: inline-block;
          background:$primary;
          border-radius:50%;
          color: white;
      }
  }

  .quick-btn {
      display: inline-block;
      width:100px;
      height:30px;
      background:rgba(240,240,240,1);
      border-radius:15px;
      text-align: center;
      line-height: 30px;
      cursor: pointer;

      &:hover {
          background-color: $primary;
          color: white;
          opacity: .7;
      }
      &.selected {
          background-color: $primary;
          color: white;
      }
  }
  .not-verified-layer{
      position: relative;
      width:410px;
      background:rgba(255,255,255,1);
      border-radius:8px;
      padding-bottom: 50px;
      padding-top: 34px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .layer__title {
          font-size:20px;
          font-weight:bold;
          color:$text-strong;
      }

      .layer__row_note {
          color: $text-weak;
          font-size: 16px;
          .row__label {
            padding-left: 20px; 
          }
      }
      .layer__row {
          width: 330px;
          display: flex;
          justify-content: space-between;

          .row__label {
              padding-left: 20px;
              color: $text-light;
          }
          .row__status {
              color: $primary;
              cursor: pointer;

              &.done {
                  color: #09C989;
                  cursor: default;
              }
          }
      }
  }

  .withdraw-fee{
      font-weight:400;
      color:rgba(51,51,51,1);

      .fee__label{
          display: inline-block;
          min-width: 80px;
      }

      .fee__coin{
          font-weight:bold;
      }
  }
  .text-des {
      font-family: MicrosoftYaHei;
      line-height: 18px;
      font-size: 12px;
      color: $text-weak;

      li {
          list-style: outside;
      }
      .dib{
          display: inline-block;
      }
  }
  .withdraw-btn {
      width:200px;
      height:40px;
      background:$primary;
      color: white;
      border-radius:4px;
      text-align: center;
      line-height: 40px;

      &:hover{
          opacity:0.5;
      }
  }   

  .ensure-modal {
      width:541px;
      background:rgba(255,255,255,1);
      border-radius:8px;
      padding-bottom: 50px;
      padding-top: 34px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .modal__title {
          font-size:20px;
          font-weight:bold;
          color:$text-strong;
      }
      .modal__row {
          box-sizing: border-box;
          .row__label {
              font-size:14px;
              font-weight:400;
              color:$text-weak;
          }
          .row__input {
              box-sizing: border-box;
              border: 1px solid $text-normal;
              width: 340px;
              height: 40px;
              line-height: 40px;
              border-radius: 4px;
              color: $text-weak;
              padding-left: 10px;
          }
          .input-validate {
              width: 220px;
              border: 0;
              border-right: 1px solid $text-normal;

              &.google {
                  border: 0;
              }

              &:focus{
                  outline: none;
              }
          }

      }
      .w-340 {
          width: 340px;
      }

  }

  &.fund-container {
    .fund-items-content {
      .fund-item-other {
        padding-left: 130px;
      }
      .fund-item-row {
          align-items: center; 
          .row__label{
            width: 130px;
          }
      }
    }
  }
  .attention {
      position: relative;
      display: inline-block;
      color: $primary;
      margin-left: 14px;

      .icon-eos{
          width: 20px;
          height: 20px;
          margin-top: 10px;
      }
  }
}
